################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Practices/.vs/Practices
/global.json
/Practices/Practices/bin/
/Practices/Practices/obj/
/Practices/Practices.Tests/bin/
/Practices/Practices.Tests/obj/
